@import "/src/mixins";
@import "/src/variables";
@import "/src/functions";

.card {
    width: $card_width;
    height: $card_heigth;
    background-color: $primary_color;
    @include d-flex(column, flex-start, center);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    margin: auto;
    font-size: $font_card_size;
    transition: all 1s;

    img {
        width: $card_width;
        height: $photo_heigth;
        border-radius: 1rem 1rem 0 0;
        transition: all 1s;
    }

    h3 {
        margin-top: 0.5rem;
    }
}

.card:hover {
    width: scale($card_width);
    height: scale($card_heigth);
    font-size: scale($font_card_size);

    img {
        width: scale($card_width);
        height: scale($photo_heigth);
    }
}