@import "/src/mixins";
@import "/src/variables";

.card {
    width: 300px;
    height: 210px;
    background-color: $primary_color;
    @include d-flex(column, flex-start, center);
    border-radius: 1rem;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    margin: auto;

    img {
        width: 300px;
        height: 150px;
        border-radius: 1rem 1rem 0 0;
    }

    h3 {
        margin-top: 0.5rem;
    }
}

.card:hover {
    width: 305px;
    height: 215px;

    img {
        width: 305px;
        height: 155px;
    }
}